<footer class="f">
    <div class="container f_grid">
        <div class="f_unit">
            <div class="f_title">Контакты</div>
            <p>Казахстан, Алматы ул. Жарокова, 41 050000 <br>
                <a href="tel:+77273507474">+7 727 350-74-74</a> <br>
                Источник Учёт.kz: <a href="https://uchet.kz/">uchet.kz</a></p>
        </div>

        <div class="f_unit">
            <div class="f_title">Мы в социальных сетях</div>

            <div class="soc_row">
				<a href="https://www.facebook.com/Uchet.kz/" target="_blank">
					<img src="./img/soc1.svg" alt="">
				</a>
				<a href="https://www.youtube.com/user/uchetkz/videos" target="_blank">
					<img src="./img/soc2.svg" alt="">
				</a>
				<a href="https://www.instagram.com/uchet.kz/" target="_blank">
					<img src="./img/soc3.svg" alt="">
				</a>
				<a href="https://t.me/uchet_kz" target="_blank">
					<img src="./img/soc4.svg" alt="">
				</a>
			</div>

        </div>
    </div>
</footer>