/* breadcrumbs */
.breadcrumbs {
    font-size: 16px;

    ul {
        @include ul-default;

        li {
            padding: 5px 0px;
            color: #3361eb;
            @include inline-block;

            a {
                text-decoration: none;
                color: #ffc107;
            }

            &:after {
                content: '\f054';
                font-family: 'fontAwesome';
                margin: 0px 2px 0px 7px;
                color: #282727;
                @include inline-block;
            }

            &:last-of-type:after {
                display: none;
            }
        }
    }
}

/* breadcrumbs */

/* modal */
.modal {
    display: none;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;

    .modal__layer {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    .modal__block {
        width: 620px;
        background-color: #fff;
        position: absolute;
        padding: 20px;
        left: 0;
        right: 0;
        top: 50%;
        margin: 0 auto;
        transform: translateY(-50%);

        h4 {
            font-size: 24px;
            text-align: center;
            padding: 0 15px;
            margin: 0;
        }
    }

    form {
        // display: block;
        // textarea, 
        // input[type="tel"], 
        // input[type="text"], 
        // input[type="email"], 
        // input[type="search"], 
        // input[type="password"] {
        //     width: 100%;
        //     min-height: 65px;
        //     background-color: #fff;
        //     border-radius: 0px;
        //     background-color: #fff;
        //     font-family: $regular;
        //     font-size: 18px;
        //     color: #414141;
        //     border: 1px solid #bababa;
        //     padding: 20px 20px;
        //     margin-bottom: 20px;
        //     box-shadow: none;
        //     line-height: 1;
        //     &::placeholder {
        //         color: #414141;
        //     }
        // }

        .btn {
            margin: 15px auto 0;
        }
    }

    @media screen and (max-width: 1200px) {
        .modal__block {
            h4 {
                font-size: 20px;
            }
        }
    }

    @media screen and (max-width: 1024px) {
        form {

            textarea,
            input[type="tel"],
            input[type="text"],
            input[type="email"],
            input[type="search"],
            input[type="password"] {
                min-height: 40px;
                font-size: 14px;
                padding: 10px 15px;
                margin-bottom: 15px;
            }
        }
    }

    @media screen and (max-width: 768px) {
        .modal__block {
            h4 {
                font-size: 18px;
            }
        }
    }

    @media screen and (max-width: 500px) {
        .modal__block {
            width: auto;
            left: 10px;
            right: 10px;
        }
    }

    @media screen and (max-width: 380px) {
        // form {
        //     .g-recaptcha {
        //         transform: scale(0.85);
        //         transform-origin: 100% 50%;
        //     }
        // }
    }
}

.call--btn {
    position: fixed;
    bottom: 100px;
    right: 40px;
    display: grid;
    place-items: center;
    background-color: #ffcc00;
    font-family: 'FontAwesome';
    border-radius: 100%;
    text-decoration: none !important;
    width: 80px;
    height: 80px;
    text-align: center;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.7);
    box-sizing: border-box;
    outline: none !important;
    z-index: 1;
    border: 0;
    outline: 0;

    &:hover {
        animation-name: phone;
        animation-iteration-count: 1;
        animation-duration: 0.7s;
    }

    i {
        display: block;
        font-size: 35px;
        color: #fff;
    }

    &:after,
    &:before {
        content: '';
        width: 90%;
        height: 90%;
        background-color: transparent;
        border: 1px solid #ffcc00;
        position: absolute;
        top: 5%;
        left: 5%;
        border-radius: 100%;
        animation-iteration-count: infinite;
        animation-duration: 1.2s;
        animation-name: ring;
        outline: none;
    }

    &:after {
        animation-delay: 0.6s;
    }

    &:before {
        animation-delay: 0.8s;
        border: 1px solid #d9af04;
    }

    @media screen and (max-width: 1440px) {
        margin-right: 0;
        right: 35px;
        bottom: 75px;
    }

    @media screen and (max-width: 991px) {
        width: 50px;
        height: 50px;
        right: 15px;
        bottom: 80px;

        i {
            font-size: 24px;
        }
    }

    @media screen and (max-width: 768px) {
        bottom: 50px;
    }
}

@keyframes ring {
    0% {
        opacity: 1;
        transform: scale(1);
    }

    100% {
        opacity: 0.1;
        transform: scale(1.7);
    }
}

@keyframes phone {
    20% {
        transform: rotate(-30deg);
    }

    80% {
        transform: rotate(390deg)
    }

    100% {
        transform: rotate(360deg);
    }
}
/* modal */

/* page content */